.section-principal {
  padding: 2rem;
  background-color: #fff;
  border-radius: 2rem;
  box-shadow: -4px 10px 6px 0px rgba(0, 0, 0, 0.64);
  .section-principal__img {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(1, 1fr);
    @include tablet {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.img-main-principal {
  img {
    border-radius: 2rem;
    box-shadow: -5px 15px 6px 3px rgba(0, 0, 0, 0.64);
    transform: translateX(-50px) scale(0.8);
    animation: fadeInScale 1s ease-out forwards;
    @keyframes fadeInScale {
      from {
        opacity: 0;
        transform: translateX(-50px) scale(0.8);
      }
      to {
        opacity: 1;
        transform: translateX(0) scale(1);
      }
    }
  }
}

.producto {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, filter 0.3s ease;
  &:hover {
    transform: scale(1.25) rotate(2deg);
    cursor: pointer;
  }
  .img-producto {
    width: 144px;
    height: auto;
  }
}

.contenido-producto {
  p {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
  }
  button {
    padding: 2rem;
    background-color: $colorAzul;
    color: #fff;
    font-weight: bolder;
    text-transform: uppercase;
    border-radius: 0.5rem;
    font-size: 2.4rem;
    border: none;
    &:hover {
      cursor: pointer;
      background-color: $colorSecundario;
    }
  }
}
