.navBar {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  @include tablet {
    justify-content: space-between;
    flex-direction: row;
    gap: 2rem;
  }
  a {
    color: #000;
    font-size: 1.8rem;
    font-weight: bold;
    &:hover {
      color: $colorCeleste;
    }
  }
}
