.precio-h1 {
  background-color: $fondoSecundario;
  padding: 20px;
  transform: translateX(-50px) scale(0.8);
  animation: fadeInScale 1s ease-out forwards;
  @keyframes fadeInScale {
    from {
      opacity: 0;
      transform: translateX(-50px) scale(0.8);
    }
    to {
      opacity: 1;
      transform: translateX(0) scale(1);
    }
  }
}

.card-principal {
  display: flex;
  font-weight: bolder;
  gap: 100px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;

  @include tablet {
    align-items: center;
    text-align: center;
    flex-direction: row;
  }
  .btn-primary {
    padding: 10px;
    background-color: $colorAzul;
    font-weight: bolder;
    border-radius: 0.5rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    border: none;
  }
}

.card-body {
  h5 {
    font-size: 19px;
  }
}
